/*******************************Calendar Top Navigation*********************************/
div#calendar{
    margin:0px auto;
    padding:0px;
    width: 100%;
    font-family:Helvetica, "Times New Roman", Times, serif;
}

div#calendar div.box{
    float: left;
    width:100%;
    padding: 0 0 20px 0;
}

div#calendar div.header{
    vertical-align:middle;
    width: 100%;
    text-align:center;
    float: left;
}

div#calendar div.header a.prev-cal,
div#calendar div.header a.next-cal{
    float: left;
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
    width: 38px;
    height: 37px;
}

div#calendar div.header span.title-day{
    float: right;
    color: #1a6a44;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    padding: 0px;
    margin-left: 15px;
    cursor: pointer;
    text-transform: capitalize;
}

.box-prev-next{
    float: left;
    border: 1px solid #2bb88a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.today{
    float: left;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    background-color: #2bb88a;
    padding: 0 15px;
    margin-left: 15px;
    cursor: pointer;
}
.today:hover, .today:active, .today:focus {
    text-decoration: underline;
    color: #ffffff;
}


div#calendar div.header a.prev-cal{
    background: url("../images/carrowleft.png") center center no-repeat;
}

div#calendar div.header .pipe{
    float: left;
    width: 1px;
    height: 37px;
    background: url("../images/pipe.png") center center no-repeat;
}

div#calendar div.header a.next-cal{
    background: url("../images/carrowright.png") center center no-repeat;
}




/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border-top:none;
}



div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-top: 1px solid #cfe3f3;
    border-left: 1px solid #cfe3f3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

div#calendar ul.label li{
    margin:0px;
    padding:0px;
    float:left;
    list-style-type:none;
    width: 14.28571%;
    vertical-align:middle;
    text-align: left;
    color: #2bb88a;
    font-weight: 600;
    font-size: 20px;
    background-color: transparent;
    border-right: 1px solid #cfe3f3;
    border-bottom: 1px solid #cfe3f3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 15px;
}

div#calendar ul.label li.title.inactive{
    color: #ee7272;
}

div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-left: 1px solid #cfe3f3;
}

/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width: 14.28571%;
    position: relative;
    font-size:25px;
    color:#000;
    text-align:center;
    border-right: 1px solid #cfe3f3;
    border-bottom: 1px solid #cfe3f3;
    height: 110px;
}
div#calendar ul.dates li.currentDay > span {
    border: 3px solid #2bb88a;
}

div#calendar ul.dates li > span{
    position: absolute;
    color: #1a6a44;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    top: 0px;
    right: 0px;
    padding: 5px 8px;
    z-index: 102;
}

:focus{
    outline:none;
}

div.clear{
    clear:both;
}

div#calendar ul.dates li.inactive span{
    color: #ee7272;
}