@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=GFS+Didot');

@font-face {
    font-family: 'playfair_displaybold';
    src: url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
    url('fonts/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    color: #8a9b93;
}

/** ------------ header menu ------------ **/

.header-background{
	background: url('../images/bg-header.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	/*height: 65%;*/
    min-height: 600px;
	padding: 0 30px;
	/*position: relative;*/
}
.header-menu{
	padding-top: 25px;
	padding-bottom: 25px;
}
.logo-header, .logo-header img{
	float: left;
}
.header-menu ul{
	 margin: 0 20px;
 }
.header-menu ul, .header-menu ul li, .header-menu ul li a{
	float: left;
	list-style: none;
}
.header-menu ul li{
	padding: 0 10px;
}
.header-menu ul li a{
	text-decoration: none;
	color: #2bb88a;
	font-size: 18px;
	height: 37px;
	line-height: 37px;
}
.header-menu ul li a:hover, .header-menu ul li a:focus, .header-menu ul li a:active {
	text-decoration: underline;
	color: #2bb88a;
}
.header-menu.green{
	background-color: #2bb88a;
}
.header-menu.green ul li a{
	color: #ffffff;
}
.header-menu.green ul li a:hover, .header-menu.green ul li a:focus, .header-menu.green ul li a:active {
	color: #ffffff;
}
.base-phone{
	float: right;
	height: 37px;
	line-height: 37px;
	color: #2bb88a;
	font-size: 18px;
	padding-left: 45px;
	background: url('../images/ico-tel.png') left center no-repeat;
}
.base-phone:hover, .base-phone:focus, .base-phone:active {
	text-decoration: underline;
	color: #2bb88a;	
}
.header-menu.green .base-phone{
	color: #ffffff;
	background: url('../images/ico-tel-white.png') left center no-repeat;
}
.header-menu.green .base-phone:hover, .base-phone:focus, .base-phone:active {
	color: #ffffff;
}
.header-menu.green .login-btn{
	color: #ffffff;
	border: 1px solid #ffffff;
}
.header-menu.green .login-btn:hover, .header-menu.green .login-btn:active, .header-menu.green .login-btn:focus{
	color: #ffffff;
}
.login-btn{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #2bb88a;
	text-decoration: none;
	border: 1px solid #2bb88a;
	cursor: pointer;
	text-align: center;
	height: 37px;
	line-height: 37px;
	padding: 0 45px;
	font-size: 20px;
	float: right;
	margin-left: 25px;
}
.login-btn:hover, .login-btn:active, .login-btn:focus{
	text-decoration: none;
	color: #2bb88a;
}

.border-green-bottom{
	border-bottom: 7px solid #2bb88a;
	margin-top: 100px;
	background-color: #ffffff;
}

.menu-account li a:hover, .menu-account li a:active, .menu-account li a:focus, .menu-account li a.selected{
	background-color: #2bb88a;
	color: #ffffff;
	text-decoration: none;
}

/** ------------ end header menu ------------ **/

/** ------------ header white menu ------------ **/

.white-bg-menu{
	background-color: #ffffff;
	padding-top: 15px;
	padding-bottom: 12px;
	margin-top: 100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 0px 1px rgba(85,85,85,0.4);
	-moz-box-shadow: 1px 1px 0px 1px rgba(85,85,85,0.4);
	box-shadow: 1px 1px 0px 1px rgba(85,85,85,0.4);
}

.menu-account.white{
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.menu-account.white li{
	float: left;
	margin-right: 20px;
}
.menu-account.white li:last-child{
	float: right;
	margin-right: 0px;
}
.menu-account.white li a{
	float: left;
	padding: 10px 15px;
	font-size: 23px;
	font-family: 'Fira Sans', sans-serif;
	color: #1a6a44;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.menu-account.white li a:hover, .menu-account.white li a:active, .menu-account.white li a:focus, .menu-account.white li a.selected{
	background-color: #2bb88a;
	color: #ffffff;
	text-decoration: none;
}

/** ------------ end header white menu ------------ **/

.gardinero-sign{
	margin-top: 1%;
	display: inline-block;
	max-width: 150px;
}

.header-background h3{
	font-size: 25px;
	color: #ffffff;
	margin: 1% 0 0 0;
	font-family: 'playfair_displaybold';
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); 
}
.header-background p{
	font-size: 16px;
	color: #1a6a44;
}

.separator-line{
	display: inline-block;
	margin: 1% 0;
}

/** my account page css **/

.pt100{
	padding-top: 100px;
}

.boxed{
	padding: 30px;
	width: 100%;
	height: 100%;
}

.my-calendar{
	background-color: #36c0c0;
}
.my-account{
	background-color: #ffb400;
}
.my-address{
	background-color: #9ecb66;
}
.my-financial{
	background-color: #853692;
}
.my-win{
	background-color: #ec6d51;
}
.my-oppinion{
	background-color: #e6a478;
}

.box-title{
	font-size: 38px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #ffffff;
	background: url("../images/line-top.png") left top no-repeat;
	padding: 20px 0 0 0;
	margin: 0px;
}

.boxed p{
	font-size: 18px;
	color: #ffffff;
	margin-top: 20px;
}

.post-link{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	height: 50px;
	line-height: 50px;
}
.post-link:hover, .post-link:active, .post-link:focus{
	color: #ffffff;
	text-decoration: none;
}

.button-custom{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	text-align: center;
	display: inline-block;
	width: 100%;
	top: 20px;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
}
.button-custom:hover{
	text-decoration: none;
	color: #ffffff;
}

.button-custom.check-calendar{
	background-color: #ffffff;
	color: #36c0c0;
}

.form-input-box{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	text-align: left;
	float: left;
	width: 100%;
	margin-top: 20px;
	padding: 1px 7px;
}
.form-input-box label{
	color: #ffffff;
	font-size: 14px;
	float: left;
	width: 100%;
	font-weight: 600;
	margin: 0px;
}
.form-input-box .input-custom{
	color: #ffffff;
	font-size: 24px;
	float: left;
	clear: both;
	width: 100%;
	font-weight: 600;
	border: 0px;
	background: none;
	line-height: 24px;
}
.textarea-custom{
	color: #ffffff;
	font-size: 24px;
	float: left;
	clear: both;
	width: 100%;
	height: 180px;
	font-weight: 600;
	background: none;
	line-height: 24px;
	border: 1px solid #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: auto;
	padding: 10px;
}

.button-custom.yellow{
	color: #ffb400;
	background-color: #ffffff;
}
.button-custom.orange{
	color: #e6a478;
	background-color: #ffffff;
}
.button-custom.green{
	color: #9ecb66;
	background-color: #ffffff;
}
.button-custom.purple{
	color: #853692;
	background-color: #ffffff;
}


.table-cell{
	/*
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	*/
	margin-bottom: 100px;
}


/** end my account page css **/


.breadcrumbs{
	width: 100%;
	text-align: center;
	float: left;
}

.breadcrumbs, .breadcrumbs li, .breadcrumbs li span, .breadcrumbs li a{
	display: inline-block;
	list-style: none;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #8a9b93;
}
.breadcrumbs li span{
	padding: 0 10px;
}
.breadcrumbs li a{
	color: #8a9b93;
	text-decoration: none;
	text-transform: uppercase;
}
.breadcrumbs li a:active, .breadcrumbs li a:focus, .breadcrumbs li a:hover{
	color: #8a9b93;
	text-decoration: underline;
}


/**new css**/

.title-section{
	font-size: 65px;
	color: #3ec17f;
	font-family: 'playfair_displaybold';
	margin: 50px 0;
}

.separator-2{
	display: inline-block;
	vertical-align: top;
}
.separator-line-div{
	float: left;
	width: 100%;
	clear: both;
	height: 2px;
	background: url("../images/separator2px.png") center center no-repeat;
	margin-bottom: 50px;
}
.separator-line-div-small{
	float: left;
	width: 100%;
	clear: both;
	height: 2px;
	background: url("../images/separator2px.png") center center no-repeat;
	margin-bottom: 30px;
}

.info-text{
    font-size: 23px;
    font-weight: 600;
}

.register-fb{
	background-color: #446bb6;
	color: #ffffff;
	cursor: pointer;
	font-size: 22px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	padding: 20px 100px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 55px;
}
.register-fb:hover, .register-fb:active, .register-fb:focus{
	text-decoration: none;
	color: #ffffff;
}

.info-register{
	font-size: 24px;
	color: #8a9b93;
	font-style: italic;
}

.info-steps{
	font-size: 23px;
	color: #8a9b93;
}
.info-steps small{
	font-size: 18px;
}

.title-green{
	color: #1a6a44;
	font-family: 'playfair_displaybold';
	font-size: 35px;
	margin: 55px 0;
}

.register-form input[type="text"],
.register-form input[type="password"]  {
	border: 1px solid #9eb2a9;
	padding: 20px;
	font-size: 22px;
	color: #9eb2a9;
	font-family: 'Fira Sans', sans-serif;
	width: 100%;
	margin: 0 0 15px 0;
	float: left;
	clear: both;
}

#gmap{
	float: left;
	width: 100%;
	height: 200px;
	clear: both;
	border: 1px solid #9eb2a9;
}

#google-maps{
	float: left;
	width: 100%;
	height: 400px;
	clear: both;
	border: 1px solid #9eb2a9;
}

.no-transition{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.no-transition *{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.address-box #geolocation-address{
	font-size: 22px;
	font-family: 'Fira Sans', sans-serif;
	color: #3ec17f;
	font-weight: 600;
	margin-top: 20px;
}

.address-box p{
	float: left;
	clear: both;
	font-size: 22px;
	color: #9eb2a9;
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
	margin: 40px 0;
}

.creeate-account{
	background-color: #3ec17f;
	color: #ffffff;
	cursor: pointer;
	font-size: 22px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	padding: 20px 100px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-radius: 3px;
	margin-top: 55px;
	margin-bottom: 55px;
	cursor: pointer;
}
.creeate-account:hover, .creeate-account:active{
	color: #ffffff;
	text-decoration: none;
}

.footer{
	padding-bottom: 30px;
	background: #2ee2cf; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #2ee2cf 0%, #49d55f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #2ee2cf 0%,#49d55f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #2ee2cf 0%,#49d55f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ee2cf', endColorstr='#49d55f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    clear: both;
}


.footer ul, .footer ul li{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.footer ul li{
	margin-bottom: 10px;
}
.footer ul li , .footer ul li a{
	font-size: 18px;
	color: #1a6a44;
	text-decoration: none;
	font-family: 'Fira Sans', sans-serif;
	text-align: left;
}
.footer ul li a:hover, .footer ul li a:active, .footer ul li a:focus{
	color: #1a6a44;
	text-decoration: underline;
}

.trademark{
	margin: 30px 0;
	width: 100%;
	color: #3dd99f;
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
}

.footer-title{
	font-size: 65px;
	font-family: 'playfair_displaybold';
	color: #ffffff;
	background: url("../images/border-title-footer.png") left bottom no-repeat;
	padding: 0 0 30px 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
	text-align: left;
	margin: 20px 0 30px 0;
}

.mtb100{
	margin-top: 90px;
	margin-bottom: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bg-gray{
	background-color: #e3e7e5;
}

/**end new css**/

/** accordion css **/

.accordion {
	color: #9eb2a9;
	cursor: pointer;
	float: left;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	transition: 0.2s;
	padding: 30px;
	background: #ffffff;
	margin-top: 10px;
	border-bottom: 1px solid #cccfce;
	position: relative;
}

.accordion.active, button.accordion:hover {
	background-position: bottom center;
}
.accordion.active > small, .accordion:hover > small {
	background-position: bottom center;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg) ;
	transform: rotate(90deg);
}

.accordion > small{
	transition: 0.1s;
	float: right;
	width: 42px;
	height: 42px;
	background: url("../images/arrows-accordion.png") center top no-repeat;
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -21px;
}

.accordion h3{
	margin: 0px;
	float: left;
	color: #9eb2a9;
	font-size: 30px;
	line-height: 30px;
	min-height: 30px;
	width: 65%;
}
.accordion h3 small{
	display: inline-block;
	width: 170px;
	color: #9eb2a9;
	font-size: 30px;
	line-height: 30px;
}
.accordion h3 span{
	color: #377d66;
	font-weight: 600;
	line-height: 30px;
	height: 30px;
}

.members-title{
	color: #9eb2a9;
	font-size: 30px;
	line-height: 30px;
	float: left;
	width: 170px;
    margin-bottom: 20px;
}
.members-list, .members-list li{
	float: left;
	padding: 0px;
	margin: 0px;
	list-style: none;
	width: auto;
}
.members-list li{
	clear: both;
	color: #377d66;
	font-weight: 600;
	line-height: 30px;
	padding-bottom: 15px;
	font-size: 30px;
}
.members-list li:last-child{

}

div.panel {
	/*padding: 0 18px;*/
	display: none;
	background-color: white;
	float: left;
	width: 100%;
	clear: both;
}

/** rating css **/
.ratings {
	border: none;
	float: left;
	width: 205px;
}
.accordion .ratings {
	padding-left: 30px;
	width: 235px;
}

.ratings > input { display: none; }

.ratings > label {
	float: right;
	margin-right: 6px;
	margin-bottom: 0px;
	width: 34px;
	height: 30px;
	background: url("../images/stars.png") top center no-repeat;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.ratings > input:checked ~ label, /* show gold star when clicked */
.ratings:not(:checked) > label:hover, /* hover current star */
.ratings:not(:checked) > label:hover ~ label { background-position: bottom center;  } /* hover previous stars in list */

.ratings > input:checked + label:hover, /* hover current star when changing rating */
.ratings > input:checked ~ label:hover,
.ratings > label:hover ~ input:checked ~ label, /* lighten current selection */
.ratings > input:checked ~ label:hover ~ label { background-position: bottom center;  }

/***************/

.header-box{
	float: left;
	width: 100%;
	font-size: 22px;
	color: #377d66;
	font-weight: 600;
	line-height: 48px;
	margin-bottom: 10px;
}

.green-button{
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
	background-color: #3ec17f;
	padding: 0 20px;
	float: right;
	margin-left: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.green-button:hover, .green-button:active, .green-button:focus {
	color: #ffffff;
	text-decoration: none;
}

/** popups **/

.content-overlay{
	float: left;
	width: 100%;
	height: 100%;
	position: fixed;
	background: url("../images/px-overlay.png") top left repeat;
	z-index: 2000;
	top: 0px;
	left: 0px;
}

.not-fixed{
    position: absolute;
}

.paddr10{
    padding-right: 15px !important;
}
.paddl10{
    padding-left: 15px !important;
}

.form-popup input[type="password"], .form-popup input[type="text"], .form-popup select{
	border: 1px solid #9eb2a9;
	height: 72px;
	line-height: 72px;
	padding: 0 20px;
	font-size: 22px;
	color: #9eb2a9;
	font-weight: 400;
	margin-bottom: 20px;
	width: 100%;
}

.popup-content h3{
	color: #3ec17f;
	font-size: 50px;
	font-family: 'playfair_displaybold';
	margin: 0 0 30px;
	text-align: center;
}

.popup-content{
	width: 40%;
	position: absolute;
	top: 10%;
	background: #ffffff;
	left: 50%;
	margin-left: -25%;
	padding: 50px;
}

.close-popup{
	position: absolute;
	top: 20px;
	right: 20px;
	background: url("../images/popup-close.png") center no-repeat;
	width: 15px;
	height: 15px;
}

.submit-form{
	width: 100%;
	text-align: center;
	text-decoration: none;
}

.user-info-logged {
	float: right;
	font-size: 18px;
	color: #ffffff;
	line-height: 37px;
	height: 37px;
	margin-left: 30px;
}

.user-info-logged a{
	color: #ffffff;
	text-decoration: underline;
}
.user-info-logged a:hover, .user-info-logged a:focus, .user-info-logged a:active{
	color: #ffffff;
	text-decoration: none;
}

.ico{
	display: inline-block;
	transition: none;
	margin-right: 10px;
	width: 25px;
}
.ico-work{
	height: 19px;
	background: url("../images/ico-work.png") center top no-repeat;
}
.ico-clients{
	width: 42px;
	height: 18px;
	background: url("../images/ico-clients.png") center top no-repeat;
}
.ico-payments{
	height: 23px;
	background: url("../images/ico-payments.png") center top no-repeat;
}
.ico-management{
	width: 36px;
	height: 23px;
	background: url("../images/ico-management.png") center top no-repeat;
}

.menu-account li a:hover .ico, .menu-account li a:active .ico, .menu-account li a:focus .ico, .menu-account li a.selected .ico{
	background-position: center bottom;
}

.help-block-error, .help-block-error span{
	font-size: 13px;
	color: #FF4136;
	float: left;
	clear: both;
	width: 100%;
	margin-top: 5px;
}

#section0{
	padding-top: 100px;
}

.fp-section{
	padding-top: 50px;
}

#google-map{
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
}

.fixed-submenu{
	position: absolute;
	z-index: 1000;
	top: 100px;
	margin: 0 auto;
}

.mt210{
	margin-top: 210px;
}
.mt250{
	margin-top: 250px;
}

/** homepage **/

.container-form{
	clear: both;
	float: left;
	width: 96%;
	position: relative;
	margin-top: 15px;
	left: 50%;
	margin-left: -48%;
	padding: 15px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 0px 70px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 0px 70px 0px rgba(0, 0, 0, 0.3);
}
.input-with-text{
	border: 1px solid #9eb2a9;
	padding: 5px 15px;
	font-size: 22px;
	color: #9eb2a9;
	font-family: 'Fira Sans', sans-serif;
	width: 100%;
	margin: 0 0 15px 0;
	float: left;
	clear: both;
}
.input-with-text span{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #1a6a44;
	font-size: 16px;
	float: left;
	width: 100%;
}
.input-with-text input{
	border: 0px;
	color: #9eb2a9;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	font-size: 18px;
	line-height: 22px;
	clear: both;
	padding: 0px;
	margin: 0px;
}
.input-with-text.w50{
	width: 48.5%;
	clear: none;
}

.submit-btn{
	border: 0px;
	background-color: #3ec17f;
	color: #ffffff;
	cursor: pointer;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Fira Sans', sans-serif;
	font-size: 22px;
	padding: 15px;
    text-align: center;
}
.submit-btn:hover, .submit-btn:active, .submit-btn:focus{
    color: #ffffff;
    text-decoration: none;
}
.submit-btn.custom-center{
    display: inline-block;
    float: none;
    width: 40%;
    padding-left: 30px;
    padding-right: 30px;
}

.container-form h4{
	font-size: 30px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #3ec17f;
	margin: 0 0 20px 0;
}

.col-xs-40, col-xs-60, .col-xs-100{
	width: 100%;
	position: relative;
	min-height: 1px;
	padding-left: 50px;
	padding-right: 50px;
}

.img-responsive{
	display: block;
	max-width: 100%;
}

.bordered-box{
	float: left;
	width: 100%;
	clear: both;
	border: 5px solid #e0efe6;
	padding: 30px 30px 20px 30px;
	margin-top: -40px;
}

.steps > span{
	font-family: 'GFS Didot', serif;
	font-size: 140px;
	font-weight: bold;
	color: #3ec17f;
	float: left;
	width: 120px;
	text-align: left;
	line-height: 140px;
}
.box-text{
	float: left;
	width: calc(100% - 120px);
	font-size: 16px;
	color: #8a9b93;
	padding-top: 100px;
}
.box-text.step1{
	background: url("../images/step1-ico.png") left 28px no-repeat;
}
.box-text.step2{
	background: url("../images/step2-ico.png") left 28px no-repeat;
}
.box-text.step3{
	background: url("../images/step3-ico.png") left 28px no-repeat;
}

.section-title{
	font-size: 60px;
	font-family: 'playfair_displaybold';
	color: #3ec17f;
	margin-top: 0px;
}
.section-text{
	font-size: 25px;
	font-family: 'Fira Sans', sans-serif;
	border-left: 2px solid #e0efe6;
	padding-left: 30px;
	margin-left: 100px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.review-text, .slide-text{
	font-size: 18px;
	margin: 20px 0 15px 0;
	float: left;
	clear: both;
	width: 100%;
}
.review-name, .slide-name{
	border-top: 2px solid #e0efe6;
	font-size: 18px;
	margin: 0px;
	padding-top: 10px;
	float: left;
	clear: both;
	display: inline-block;
}

.slide-name{
	padding: 0 0 10px 0;
	border-top: 0px;
	border-bottom: 2px solid #8a9b93;
}

.left-margin{
	margin-left: 130px;
}

.download-buttons{
	margin-right: 30px;
	margin-bottom: 20px;
}

.testimonial-slider{
	margin: 20px 0 0 0;
	padding: 0px;
	float: left;
	clear: both;
}
.testimonial-slider li{
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
}

/** end homepage **/

/** services **/

.container-title{
	background-color: #ffffff;
	padding: 40px;
}

.header-background.pages-header{
	margin-top: 87px;
	padding: 90px 0;
	height: auto;
}

.page-title{
	margin: 0px;
	font-size: 100px;
	color: #3ec17f;
	font-family: 'playfair_displaybold';
}

.container-title .breadcrumbs{
	margin: 0px;
	float: none;
}

.row.last{ margin-bottom: 40px; }

.services h3{
	font-size: 40px;
	font-family: 'playfair_displaybold';
	color: #3ec17f;
	margin: 20px 0px 20px 0;
}
.services ul{
	margin: 0px;
	padding: 0px;
}
.services ul li, .services ul li a{
	font-size: 22px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	color: #9eb2a9;
	padding: 5px 0;
	text-decoration: none;
}
.services ul li a:hover, .services ul li a:active, .services ul li a:focus{
	text-decoration: underline;
}

.page-info h4{
	font-family: 'playfair_displaybold';
	font-size: 35px;
	color: #8a9b93;
	margin: 40px 0 0 0;
}
.page-info p{
	font-family: 'Fira Sans', sans-serif;
	font-size: 23px;
	color: #8a9b93;
}

.no-padd{
	padding-left: 0px;
	padding-right: 0px;
}

/** end services **/

/** prices **/

.prices-table{
	width: 100%;
}
.prices-table tr td{
	padding: 10px;
	font-family: 'Fira Sans', sans-serif;
	font-size: 22px;
	color: #8a9b93;
}
.prices-table tr td.dotted{
	width: calc(100% - 375px);
}
.prices-table tr td.dotted span {
	display: inline-block;
	background: url("../images/dot.png") left bottom repeat-x;
	height: 2px;
	width: 100%;
}
.prices-table tr td:first-child{
	width: 250px !important;
}


/** end prices **/

.col-65, .col-35{
	float: left;
	padding: 30px;
}
.col-65{
	width: 65%;
}
.col-35{
	width: 35%;
}
.container-buttons{
    float: right;
}

#google-maps .centerMarker {
    position: absolute;
    background: url('../images/pin.png') center center no-repeat;
    top: 50%;
    left: 50%;
    z-index: 1000;
    margin-left: -19.5px;
    margin-top: -55px;
    height: 55px;
    width: 39px;
    cursor: pointer;
}

.mt87{ margin-top: 87px; }

.offer-form h3{
    color: #1a6a44;
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 30px 0;
    font-family: 'playfair_displaybold';
    min-height: 60px;
    position: relative;
    padding-left: 30px;
}

.offer-form h3 span{
    float: left;
    width: 30px;
    position: absolute;
    left: 0px;
}

.offer-form input[type="text"]{
    border: 1px solid #9eb2a9;
    padding: 20px;
    font-size: 22px;
    color: #9eb2a9;
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    margin: 0;
    float: left;
    clear: both;
}

.chk-list, .chk-list li{
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.chk-list li{
    list-style: none;
    padding-bottom: 15px;
}
.checkbox-custom{
    float: left;
    width: 100%;
    clear: both;
    font-size: 22px;
    font-weight: 400;
    padding-left: 35px;
    position: relative;
}
.checkbox-custom input{ display: none; }
.checkbox-custom span{
    float: left;
    width: 26px;
    height: 26px;
    background: url("../images/checkbox.png") top left no-repeat;
    position: absolute;
    top: 3px;
    left: 0px;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.checkbox-custom em{
    font-style: italic;
}

.checkbox-custom:hover > span,
.checkbox-custom input:checked + span {
    background-position: bottom center;
}

.offer-form p{
    font-size: 18px;
}

.border-top-2px{
    border-top: 2px solid #9eb2a9;
    padding-top: 20px;
    margin-bottom: 20px;
}
.border-bottom-2px{
    border-bottom: 2px solid #9eb2a9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.mb20{
    margin-top: 40px;
    margin-bottom: 40px;
}

.offer-form #geolocation-address{
    color: #3ec17f;
    font-weight: 600;
}

.section{
    height: auto;
    margin-bottom: 100px;
    float: left;
    clear: both;
    width: 100%;
}

#fullpage{
    height: 100%;
}

.form-popup h4{
    color: #1a6a44;
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 20px 0;
    font-family: 'playfair_displaybold';
}

.div-padded{
    float: left;
    clear: both;
    width: 100%;
    padding-left: 25px;
}

.checkbox-custom.wauto{
    width: auto;
    float: none;
    display: inline-block;
    font-size: 18px;
    color: #1a6a44;
    line-height: 31px;
    margin-bottom: 20px;
}
.checkbox-custom.wauto a{
    color: #1a6a44;
    text-decoration: underline;
}
.checkbox-custom.wauto a:hover, .checkbox-custom.wauto a:focus, .checkbox-custom.wauto a:active{
    text-decoration: none;
    color: #1a6a44;
}

.line2px{
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 2px solid #e0efe6;
    margin: 15px 0;
}

.form-popup .submit-form{
    font-size: 22px;
    line-height: 74px;
    height: 74px;
}

form label.error{
    color: #FF4136;
    font-size: 13px;
    font-weight: 100;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 0px;
}

form.offer-form label.error{
    margin-top: 10px;
}

.line-input{
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
	.header-background{
		background: url('../images/bg-header.jpg') no-repeat top center fixed;
		-webkit-background-size: auto;
		-moz-background-size: auto;
		-o-background-size: auto;
		background-size: auto;
		min-height: 430px;
	}
	.footer ul li , .footer ul li a{
		text-align: center;
	}
	.footer-title{
		text-align: center;
		background-position: center bottom;
	}
	.fp-section{
		height: auto !important;
	}
	.section-text{
		margin-left: 0px;
		border-left: 0px;
		text-align: center;
	}
	.section-title{
		text-align: center;
		margin-top: 20px;
	}
	.section .ratings{
		margin: 0 auto 20px auto !important;
		display: inline-block;
		float: none;
	}
	.center-section{
		text-align: center;
	}
	.left-margin{
		margin-left: 0px;
	}
	.download-buttons{
		margin: 0 0 20px 0;
		display: inline-block;
	}
	.no-padd{
		padding-left: 15px;
		padding-right: 15px;
	}
    .container-buttons{
        float: left;
        clear: both;
        margin-top: 5px;
        width: 100%;
    }
    .container-buttons .show-popup{
        margin: 0 15px 0 0;
        float: left;
    }
    .offer-form h3{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .mb20{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .paddr10{ padding-right: 0px !important; }
    .paddl10{ padding-left: 0px !important; }

    .div-padded > .row{
        margin: 0px !important;
    }
}

@media (min-width: 768px) {
	.gardinero-sign{
		max-width: 150px;
	}
	.header-background h3{
		font-size: 45px;
	}
	.header-background p{
		font-size: 18px;
	}

	.col-lg-40, .col-lg-60, .col-lg-100{
		float: left;
		padding-left: 50px;
		padding-right: 50px;
	}

	.col-lg-40{
		width: 40%;
	}
	.col-lg-60{
		width: 60%;
	}
	.col-lg-100{
		width: 100%;
	}
	.container-form{
		clear: both;
		float: left;
		position: relative;
		margin-top: 15px;
		left: 50%;
		width: 80%;
		margin-left: -40%;
		padding: 40px;
	}
	#section0{
		padding-top: 87px;
	}

	.fp-section{
		padding-top: 87px;
	}

}
@media (max-width: 991px) {

    .div-padded > .row{
        margin: 0px !important;
    }

    .paddr10{ padding-right: 0px !important; }
    .paddl10{ padding-left: 0px !important; }

	.fp-section{
		height: auto !important;
		padding-bottom: 40px;
	}
	.header-background{
		min-height: 430px;
	}
	.bordered-box{
		margin-top: auto;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.box-text{
		width: calc(100% - 120px);
		font-size: 18px;
	}
	.footer ul li , .footer ul li a{
		text-align: center;
	}
	.footer-title{
		text-align: center;
		background-position: center bottom;
	}
	.footer .gardinero-sign{
		margin-top: 30px;
	}
	.border-green-bottom{
		margin-bottom: 20px;
		position: static;
		margin-top: 120px;
	}
	.mt250, .mt210{
		margin-top: 0px;
	}
	.table-cell{
		margin-bottom: 20px;
	}
	.menu-account{
		float: left;
		width: 100%;
		margin: 20px 0px 0px 0px;
	}
	.menu-account li{
		float: left;
		width: 100%;
	}
	.menu-account li:last-child{
		float: left;
	}
	.menu-account li:last-child a{
		background-color: #2bb88a;
		color: #ffffff;
		text-decoration: none;
	}
	.menu-account li a span{
		width: 40px;
	}

	.menu-account li a{
		float: left;
		width: 100%;
		padding: 25px 30px;
		margin-bottom: 15px;
		font-size: 20px;
		font-family: 'Fira Sans', sans-serif;
		color: #1a6a44;
		text-decoration: none;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		background-color: #bfffea;
	}

	.accordion .ratings{
		clear: both;
		margin-top: 15px;
        padding-left: 0px;
        width: 205px;
	}

	.content-overlay{
		position: absolute;
	}
	.popup-content{
		width: 90%;
		margin-left: -45%;
		top: 100px;
	}
    .accordion h3{
        width: 90%;
    }

    .col-65, .col-35{
        width: 100%;
    }
    .col-65{
        padding-bottom: 0px;
    }
}
@media (min-width: 992px) {
	.gardinero-sign{
		max-width: 150px;
		margin-top: 1%;
	}
	.header-background h3{
		font-size: 45px;
		margin: 1% 0 0 0;
	}
	.header-background p{
		font-size: 20px;
	}
	.col-50{
		width: 50%;
		padding-left: 50px;
		padding-right: 50px;
		float: left;
	}
	.col-100{
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
		float: left;
	}
	.container-form{
		clear: both;
		float: left;
		position: relative;
		margin-top: 15px;
		left: 50%;
		width: 70%;
		margin-left: -35%;
		padding: 40px;
	}
	.fp-section{
		padding-top: 110px;
	}
	.section-text{
		margin-top: 0px;
	}
	.display-table{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

	.menu-account{
		float: left;
		width: 100%;
		margin: 20px 0px 0px 0px;
	}
	.menu-account li{
		float: left;
		margin-right: 10px;
	}
	.menu-account li:last-child{
		float: right;
		margin-right: 0px;
	}
	.menu-account li a{
		float: left;
		padding: 25px 30px;
		font-size: 23px;
		font-family: 'Fira Sans', sans-serif;
		color: #1a6a44;
		text-decoration: none;
		-webkit-border-top-left-radius: 10px;
		-moz-border-radius-topleft: 10px;
		border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topright: 10px;
		border-top-right-radius: 10px;
	}
	.popup-content{
		width: 60%;
		top: 100px;
		margin-left: -30%;
	}
}
@media (min-width: 1528px) {
	.gardinero-sign{
		max-width: 180px;
		margin-top: 1%;
	}
	.header-background h3{
		font-size: 65px;
	}
	.header-background p{
		font-size: 23px;
	}
	.header-menu ul{
		margin: 0 50px;
	}
	.header-menu ul li{
		padding: 0 25px;
	}
	.header-menu ul li a{
		font-size: 20px;
		height: 37px;
		line-height: 37px;
	}
	.login-btn{
		margin-left: 45px;
	}
	.container-form{
		clear: both;
		float: left;
		position: relative;
		margin-top: 15px;
		left: 50%;
		width: 50%;
		margin-left: -25%;
		padding: 40px;
	}
	.section-title{
		font-size: 100px;
	}
	.section-text{
		font-size: 35px;
	}
	.steps > span{
		font-size: 180px;
		line-height: 180px;
	}
	.box-text{
		font-size: 18px;
		color: #8a9b93;
		padding-top: 100px;
	}
	.bordered-box{
		float: left;
		width: 100%;
		clear: both;
		border: 5px solid #e0efe6;
		padding: 90px 30px 20px 30px;
		margin-top: -80px;
	}
	.popup-content{
		width: 50%;
		top: 100px;
		left: 50%;
		margin-left: -25%;
		padding: 50px;
	}
    .mtb100{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
